name: CI Demo

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show repo files
        run: ls -al
